*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg{
    width: 50%;
}
#wheel-right,#wheel-left{
    animation: roll 2s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}
#man,#bike-body{
    animation: moveUp 2s linear infinite;
    transform-origin: bottom;
}
#hat{
    animation: hatUp 2s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}

@keyframes moveUp{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes hatUp{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2%) rotateZ(20deg);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes roll{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}