.container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 10px;
    background-color:none;
}
.container > div{
    padding: 10px 10px;
    background-color: powderblue;
}