/* .p1{
    color: blue;
    text-align: center;
    text-shadow: 2px 2px green;
    word-spacing: 3px;
    text-decoration: line-through;
}
.p2{
    color: orangered;
    text-align: right;
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-style: dashed;
}
.p3{
    text-indent: 10px;
    color: cyan;
}
div{
    display: table-cell;
    width: 250px;
    height: 200px;
    padding: 10px;
    border: 1px solid blue;
    vertical-align: bottom;
} */