p,span {
    color: grey;
}

.logo{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0 20px;
    background-color: #fa95c7;
    color: white;
    height: 50px;
    font-weight: bold;
}
.ad{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.beauty-title{
    color: #fa95c7; 
}
.beauty p{
    font-size: 25px;
}
.avatar{
    border-radius: 50%;
}