p,span {
    color: grey;
}

.logo{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0 20px;
    background-color: #fa95c7;
    color: white;
    height: 50px;
    font-weight: bold;
}
.ad{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.beauty-title{
    color: #fa95c7; 
}
.beauty p{
    font-size: 25px;
}
.avatar{
    border-radius: 50%;
}
.icons{
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;

}
.icon-item{
    width: 45px;
    height:45px;
    border-radius: 50%;
    background-color: #fa95c7; 
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
}
.el{
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(197, 196, 196);
}
.redblood{
    color: rgb(224, 26, 26);
    font-weight: bold;
}
img{
    margin-bottom: 15px;
}
.grid-items{
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}
.search-box{
    border-radius: 15px;
    border: 1px solid rgb(194, 193, 193);
}