body{
    background-color: rgb(224, 224, 224);
}

.header{
    height: 40px;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    background-color: rgb(41, 41, 129);
    position: sticky;
}

.sidebar{
    grid-area: side;
}


.top-main{
    grid-area: top-main;
}
.stories{
    grid-area:stories;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stories >div{
    margin: 10px;
    width: 25%;
    height: 70%;
}
.posts{
    grid-area: posts;
}
.right-content{
    grid-area: right-content;
}
.birthday-content{
    grid-area: birthday-content;
}

.container{
    height: 1000px;
    width: 80%;
    border-radius: 5px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "side top-main top-main birthday-content"
               "side top-main top-main right-content"
               "side stories stories right-content"
               "side posts  posts right-content"
               "side posts  posts right-content"
               "side posts  posts language";
}
* {box-sizing: border-box;}

.container > div {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    color: #d9480f;
}
img{
    height: 100%;
    width: 100%;
}