.body{
    background-color: black;
}
.container{
    display: grid;
    background-color: gold;
    grid-template-columns: repeat(3,200px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-content: center;
}
.item{
    width: 200px;
    height: 100px;
    background-color: rosybrown;
}