.container{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.item{
    width: 100px;
    height: 100px;
    background-color: rosybrown;
}