body{
    background-color: whitesmoke;
    font-family: verdana;
    
}
p,li{
    font-size: 15px;
}
/* h1,h2,h3,h4{
    font-weight: lighter;
} */
.header{
    background-color: rgb(25, 39, 51);
    color: white;
}
.header-items{
    display: flex;
    margin: 10px;
}
.column-2{
    margin-left: 30px;
}
.nameHead{
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
}
.image-wrapper{
    margin-top: 50px;
}
@media only screen and (max-width: 950px){
    .image-wrapper{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        order: -1;
    }
    .nameHead{
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 20px;
    }
    .buttons{
        width: 100%;
        display: flex;
        flex-direction: column;

    }
}
@media only screen and (max-width: 670px) {
    .social{
        display: flex;
        flex-direction: column;
    }

    .interest-items{
        display: flex;
        flex-direction: column;
    }
    .column-2{
        margin-left: 0;
    }
  }

.wrapper{
    width: 100%;
    margin: 0;
}
.social{
    background-color: rgb(4, 6, 15);
}
.social span{
    margin-right: 10px;
    padding: 10px;
}
.image{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 3px solid #FFD027;

}
.skills{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.skillset{
    display: flex;
    flex-wrap: wrap;
}
.skillset li{
    padding: 5px 15px;
    margin: 5px 5px;
    list-style-type: none;
    border-radius: 5px;
    background-color:  #FFD027;
}
.skillset li::before{
    display: none;
}
.small-box{
    display: flex;
    justify-content: space-between;
}
.small-box div{
    width: 10px;
    height: 10px;
    background-color:  #FFD027;
    margin-right: 10px;

}

.interest-items{
    margin-top: 10px;
    display: flex;
}
.interest-items div{
    margin-right: 15px;
}
ul {
    list-style-type: none;
}
li{
    display: flex;
}
li::before{
    display: block;
    content: "•";
    margin-right: 10px;
    font-size: 20px;
    color: #FFD027;
}
.button-dark,.button-input,.button-number{
    background-color: rgb(4, 6, 15);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px;
}
.button-number{
    margin-top: 0;
    margin-left: 0;
}
.button-dark:hover,.button-input:hover,.button-number:hover{
    cursor: pointer;
    background-color: rgba(4,6,15,0.4);
}
.skill-list:hover{
    background-color: rgba(255,208,39,0.5);
    cursor: pointer;
}