body{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right,rgb(206, 55, 80),purple);
    font-family: Verdana;
}

.container{
    margin-top: 40px;
    height: 1000px;
    width: 90%;
    display: grid;
    grid-template-rows: 50px 400px 600px 600px;
    grid-row-gap: 10px;
    justify-content: center;
}
.one{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-column-gap: 10px;
    align-content: center;
    justify-content: center;
}
.one-item{
    width: 200px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(236, 185, 42);
    font-weight: bold;
}
.two{
    display: grid;
    grid-template-columns: repeat(3,325px);
    grid-gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.two-image{
    grid-area: 1/1/3/3;
}
.two-taco{
    grid-area: 1/3/2/5;
    width: 345px;
    height: 185px;
    background-color: rgb(236, 185, 42);
}
.two-kombucha{
    grid-area: 2/3/3/5;
    width: 345px;
    height: 185px;
    background-color: rgb(236, 185, 42);
}
.three{
    margin-top: 30px;
    display: grid;
    grid-template-rows: 200px 400px;
    grid-row-gap: 20px;
    justify-content: center;
}
.three-top{
    display: grid;
    grid-template-columns: repeat(4,245px);
    grid-column-gap: 20px;
    justify-content: center;
}
.taco-img{
    width: 100%;
}
.taco-img{
    /* width: 100%; */
    height: 400px;
}
.three-top div{
    background-color: white;
}
.three-bottom{
    height: 100%;
    width: 1040px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
.four{
    margin-top: 50px;
    width: 1120px;
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-row-gap: 20px;
}
.four-heading{
    /* background-color: thistle; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.four-heading::before{
    content: "";
    width: 420px;
    height: 10px;
    background-image: linear-gradient(to left,rgb(236, 185, 42),rgba(236, 185, 42,0.1) );
    position: absolute;
    top: 35px;
    left: 40px;
}
.four-heading::after{
    content: "";
    width: 420px;
    height: 10px;
    background-image: linear-gradient(to right,rgb(236, 185, 42),rgba(236, 185, 42,0.1) );
    position: absolute;
    top: 35px;
    right: 40px;
}
.four-content{
    margin: 0 38px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 20px;
    margin-bottom: 20px;
}
.four-content img{
    width: 190px;
    height: 220px;
}
.lorem-grey{
    color: grey;
    font-style: bold;
}
.three-taco,.three-beer,.three-wine,.three-music{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.featured-text div{
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Verdana;
    font-size: 15px;
}
button{
    background: rgb(236, 185, 42);
    padding: 10px 20px;
    border: none;
}