body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2222;
}
.header{
    height: 40px;
    width: 100%;
    background-color: rgb(47, 47, 107);
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.header div{
    padding: 10px 10px;
}
.white-box{
    height: 2.5px;
    width: 2.5px;
    background-color: white;
    color: rgb(47, 47, 107);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search{
    display: flex;
}
.container{
    margin-top: 10px;
    height: 1000px;
    width: 75%;
    /* background-color:white; */
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-column-gap: 10px;
}
.left{
    grid-column: 1/2;
    background-color: white;
}
.left .one li{
    list-style-type: none;
    /* margin: 10px; */
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.left .one li span{
    margin-left: 10px;
}
.center{
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 120px 200px 1fr;
    grid-row-gap: 10px;
}
.create{
    background-color: white;
}
.story{
    background-color: white;
}
.post {
    width: 100%;
    display: grid;
    grid-row-gap: 10px;
    grid-template-rows: repeat(10,400px);
}
.post .item{
    background-color: white;
}

.item-right{
    display: grid;
    grid-template-rows:  50px 400px 50px;
    grid-row-gap: 10px;
}
.item-right .birthday{
    background-color: white;
}
.item-right .advert{
    background-color: white;
}
.item-right .language{
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    background-color: white;
}