body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2222;
    font-size: 10px;
    font-family: sans-serif;
}
.header{
    height: 40px;
    width: 100%;
    background-color: rgb(47, 47, 107);
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    
}
.header div{
    padding: 10px 10px;
}
.header div:hover{
    background-color: rgb(22, 22, 63);
    cursor: pointer;
}
.white-box{
    height: 2.5px;
    width: 2.5px;
    background-color: white;
    color: rgb(47, 47, 107);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    width: 500px;
}
.search{
    display: flex;
}
.material-icons{
    color: rgb(27, 27, 56);
    font-size: 15px;
}
.material-icons:hover{
    color: whitesmoke;
    cursor: pointer;
}
.container{
    margin-top: 10px;
    height: 1000px;
    width: 85%;
    /* background-color:white; */
    display: grid;
    grid-template-columns: 15% 50% 20%;
    grid-column-gap: 10px;
}
.left{
    grid-column: 1/2;
    font-size: 12px;
}
.left .one li{
    list-style-type: none;
    /* margin: 10px; */
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.left .one li:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
.left .one li span{
    margin-left: 10px;
}
.center{
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 120px 200px 1fr;
    grid-row-gap: 10px;
}
.create{
    background-color: white;
    display: grid;
    grid-template-rows: 25% 50% 25%;
}
.create .create-post{
    background-color: rgb(238, 235, 235);
    padding-left: 10px;
    padding-top: 10px;
    border-top: 1px solid  rgb(190, 190, 190);
}
.create .thoughts{
    display: flex;
    align-items: center;
}
.thoughts img{
    margin-left: 10px;
    padding-right: 10px;
}
.create .others{
    margin-left: 15px;
    margin-right: 15px;
    border-top: 1px solid rgb(190, 190, 190);
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.others .other{
    margin:0 10px;
    width: 100px;
    height: 15px;
    background-color: rgb(238, 235, 235);
    border-radius: 10px;
}
.story{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.story div{
    margin-right: 10px;
    height: 150px;
    width: 100px;
    background-color: grey;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.story span{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    color: rgb(50, 131, 185);
}
.story .friend{
    border: 3px solid rgb(9, 101, 206);
}
.post {
    width: 100%;
    display: grid;
    grid-row-gap: 10px;
    grid-template-rows: repeat(10,400px);
}
.post .item{
    background-color: white;
    display: grid;
    grid-template-rows: 50px 300px 50px;
}
.top-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(26, 26, 116);
    font-size: 15px;
    font-weight: bold;
}
.top-bar img{
    height: 80%;
    border-radius: 50%;
    margin: 0 10px;
}
.main-bar img{
    width: 100%;
    height: 100%;
}
.like-comment{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 0;
}

.right{
    display: grid;
    grid-template-rows:  50px 400px 50px;
    grid-row-gap: 10px;
}
.right .birthday{
    background-color: white;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.birthday i{
    margin-left: 10px;
    margin-right: 5px;
}
.right .advert{
    background-color: white;    
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}
.right .language{
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 460px;
} 
