.container{
    /* background-color: thistle; */
    height: 100%;
    width: 1000px;
}
.row{
    background-color: green;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.row div{
    margin: 10px;
    height: 150px;
    width: 150px;
    background-color: greenyellow;
}

.column{
    margin-top: 20px;
    background-color: green;
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
}
.column div{
    margin: 10px;
    height: 150px;
    width: 150px;
    background-color: greenyellow;
}
